.topbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    padding: 0 20px;
    background-color: white;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
    z-index: 2;
}

.sidebar {
    position: fixed;
    top: 70px;
    left: 0;
    background-color: white;
    height: 100vh;
    width: 220px;
    z-index: 1;
    padding: 0 20px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
}
