/* Global Rules  */
* {
  box-sizing: border-box;
  /* padding: 0;
  margin: 0; */
}

body {
  font-family: "Roboto", sans-serif !important;
}

.f-cairo {
  font-family: "Cairo", sans-serif !important;
}

/* .low-shadow {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.08);
} */
a {
  text-decoration: none !important;
}
/* .container {
  margin: 0 auto;
} */

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}